*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: apercu;
  src: url(../fonts/apercu_medium_pro.otf);
}

@font-face {
  font-family: futurak ;
  src: url(../fonts/futurak.ttf);
}


.snp-logo{
  font-family: futurak;
}


html{
  font-size: 62.5%;
  font-family: apercu;
  background-color: var(--black);
  color: var(--white);
}


/* FLEX PROPERTIES */


.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-evenly{
  justify-content: space-evenly;
}

.flex-row{
  flex-direction: row;
}

.item-center{
  align-items: center;
}

.gap-1{
  gap: 10px;
}
.gap-2{
  gap: 15px;
}
.gap-3{
  gap: 20px;
}
.gap-4{
  gap: 30px;
}
.gap-5{
  gap: 25px;
}
.gap-6{
  gap: 80px;
}


/* MARGIN PROPERTIES */

/* MARGIN LEFT OR RIGHT */

.mx-1{
  margin: 0px 15px;
}
.mx-2{
  margin: 0px 25px;
}
.mx-3{
  margin: 0px 30px;
}
.mx-4{
  margin: 0px 35px;
}
.mx-5{
  margin: 0px 45px;
}


/* MARGIN TOP OR BOTTOM */



.my-1{
  margin: 10px 0px;
}
.my-2{
  margin: 20px 0px;
}
.my-3{
  margin: 25px 0px;
}
.my-4{
  margin: 30px 0px;
}
.my-5{
  margin: 45px 0px;
}



/* CSS VARIABLES */

:root{
  --white: #ffffff;
  --black: #000000;
  --red: #ed1c24;
  --gray: #0f0f0f;
  --green: #28a745;

}



/* COLOUR AND TEXT PROPERTIES */




.bg-red{
  background-color: var(--red);
}

.text-none{
  text-decoration: none;
  color: var(--white);
}


.bg-dark{
  background-color: var(--black);

}

.bg-gray{
  background-color: #0f0f0f;
}
.text-center{
  text-align: center;
}



.text-red{
  color: #ff0000;
}

.font-size3{
  font-size: 3rem;
}
.font-size5{
  font-size: 5rem;
}
.font-size6{
  font-size: 6rem;
}
.font-size4{
  font-size: 4rem;
}
.font-size2{
  font-size: 2rem;
}
.text-gray{
  color: #808080;
}
.border-top{
  border-top: 1px solid #000000;
}
.borderwhite-top{
  border: 0.1px solid #808080;

}

/* MARGIN TOP */



.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}

.cursor-point{
  cursor: pointer;
}